{% extends 'base.html' %}

{% block content %}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>De</th>
          <th>Para</th>
          <th>Valor</th>
          <th>Data</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
          <tr>
            <td>{{ object.sender.name }}</td>
            <td>{{ object.receiver.name }}</td>
            <td>R$ {{ object.value }}</td>
            <td>{{ object.created_at|date:"d/m/Y H:i:s" }}</td>
            <td>
              <form method="post" action="{% url 'core:transfer-delete' object.id %}"
                    onclick="return confirm('Deseja realmente excluir este item?');">
                {% csrf_token %}

                <button class="btn btn-danger btn-sm" type="submit">
                  <i class="far fa-trash-alt"></i>
                </button>
              </form>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="4">Nehnuma transferência registrada.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}